In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv("player_data.csv")

In [3]:
df.head()

,rank,rating,name,score/round,damage/round,k/d_ratio,hs_percentage(%),win_percentage(%),"top_agents(agent, hours)","top_weapons(weapon, kills, hs%)"
0,1,1153,SEN zekken#5193,266.3,173.6,1.40,41.6,66.2,"[['Sova', '30'], ['Chamber', '15'], ['Raze', '...","[['Vandal', '2,517', '57'], ['Ghost', '256', '..."
1,2,1142,NRG s0m#NRG,251.9,160.7,1.32,29.5,61.1,"[['Astra', '43'], ['Sova', '31'], ['Brimstone'...","[['Vandal', '3,451', '47'], ['Stinger', '894',..."
2,3,1133,SEN dephh#yadig,230.6,152.4,1.16,30.6,58.6,"[['Astra', '52'], ['Chamber', '30'], ['Viper',...","[['Vandal', '2,322', '44'], ['Phantom', '383',..."
3,4,1126,N4RRATE#JESUS,263.7,170.2,1.27,21.9,64.3,"[['Raze', '22'], ['Chamber', '20'], ['Reyna', ...","[['Vandal', '2,025', '32'], ['Phantom', '384',..."
4,5,1104,100T Asuna#1111,261.5,168.2,1.29,25.6,63.8,"[['Fade', '16'], ['Raze', '13'], ['Reyna', '9....","[['Vandal', '1,488', '36'], ['Phantom', '346',..."

In [4]:
df.columns

Index(['rank', 'rating', 'name', 'score/round', 'damage/round', 'k/d_ratio',
       'hs_percentage(%)', 'win_percentage(%)', 'top_agents(agent, hours)',
       'top_weapons(weapon, kills, hs%)'],
      dtype='object')

In [17]:
df.describe()

,rank,rating,score/round,damage/round,k/d_ratio,hs_percentage(%),win_percentage(%)
count,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000
mean,258.460765,665.364185,227.306841,148.289135,1.108813,27.550503,54.173239
std,150.284364,126.112845,22.179727,13.735445,0.129770,5.142388,6.169170
min,1.000000,520.000000,174.000000,113.400000,0.820000,11.500000,41.200000
25%,128.000000,573.000000,212.200000,138.600000,1.020000,24.100000,50.200000
50%,258.000000,622.000000,225.500000,147.300000,1.080000,27.200000,53.100000
75%,386.000000,726.000000,238.100000,155.400000,1.190000,30.900000,57.100000
max,553.000000,1153.000000,317.700000,209.500000,1.680000,43.500000,81.200000